# python basic syntax

->back slash = used for continuation
->tiple quotes = it will print as it is and also if u want to comment it and also used for sql statment
a="""select*from student"""
->string inside the quotes = using single quotes and double quotes
->escape sequence of string =\t,\n,\(wn u use single quote),\a(bring sound in our computer . eg:-print("hello\a")
->formatted output

In [1]:
print("hello")

hello

In [2]:
print("hello 
      python")

SyntaxError: EOL while scanning string literal (<ipython-input-2-697048e71157>, line 1)

In [3]:
print("hello \
python")

hello python

In [4]:
print("""(”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’)""" )

(”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’)

In [5]:
print('python's world)

SyntaxError: invalid syntax (<ipython-input-5-4df7d6b712a9>, line 1)

In [6]:
print("python's world")

python's world

In [7]:
print('hello world')

hello world

In [8]:
print("hello\tpython")

hello	python

In [9]:
print("hello\npython")

hello
python

In [10]:
print('python\'s world')

python's world

formatted output (using everthing in print statement)

In [13]:
name="xyz"
marks=90
age=2
print("the name of person is",name,"marks is",marks,"age is",age)

the name of person is xyz marks is 90 age is 2

In [17]:
name="xyz"
marks=90
age=2
print("the name of person is %s marks is %f age is %d"%(name,marks,age))

the name of person is xyz marks is 90.000000 age is 2

In [19]:
name="xyz"
marks=90
age=2
print("the name of person is %10s marks is %10.2f age is %10d"%(name,marks,age))

the name of person is        xyz marks is      90.00 age is          2

In [21]:
name="xyz"
marks=90
age=2
print(f"the name of person is {name} the marks {marks} age is {age}")

the name of person is xyz the marks 90 age is 2

# python variables and assignment statement

->linking a data to a name
->according to the data-type,the interpreter reserves the memory space
->variable refers to the memory location that contains the data

rules to define variables

->keyword cannot be used as variable.eg:-if
->variable can contain lower case and upper case.eg:-a=10,A=20
->variable cannot start with number.eg:-10a=20
->python is case sensitive so variables are also case sensitive
->variable is assigned to data by using the assignment operator
->we can use _10=6 but it not so meaning full

In [22]:
x=y=z=10
print(x,y,z)

10 10 10

In [23]:
id(x)

140710397649584

In [24]:
id(y)

140710397649584

In [25]:
id(z)

140710397649584

In [26]:
x=20

In [27]:
id(x)

140710397649904

In [28]:
y=20

In [29]:
id(y)

140710397649904

In [30]:
del x

In [31]:
x

NameError: name 'x' is not defined

In [32]:
y

20

In [33]:
del y

In [34]:
x=y=20

# python operators

arithmetic := 
  **(exponet),
  *, /, %, +, -,
  // (floor division=after performing devision it returns the lower integer value as result .
  eg:- lower = 3.4=3... upper = 3.4= 4)

In [35]:
5**2

25

In [36]:
2*6

12

In [37]:
4/2

2.0

in python2 int/int is int, in python3 int/int is float

In [38]:
10%3

1

In [39]:
10//3

3

comparision :- 
==  if right and left side operand are equal it returns true
<   right side less than left side returns true..
>   right side greater than left returns true
<=  right side less than or equal to left returns true
>=  right greater than or equal to left returns true
!=  right not equal to left

In [40]:
a=10
b=20
a==b

False

In [41]:
b=10
a=10
a==b

True

In [42]:
a<=b

True

In [43]:
a>=b

True

In [44]:
a<b

False

In [45]:
a>b

False

In [46]:
a!=b

False

assignment :-
    =, +=, -=, *=, /=, **=   eg:- a=a+b

bitwise :-
    |  OR
    &  AND
    -  binary one's complement
    ^  XOR
    << left shift (left hand operand bit is shifted to left by the number on the right)
    >> right shift ( right operand to right by the number on the right)

In [47]:
a=240
b=1
a|b

241

In [48]:
bin(a)

'0b11110000'

In [49]:
bin(b)

'0b1'

In [50]:
a&b

0

logical :-
    And, or, not

In [51]:
a=1
b=20
a>20

False

In [52]:
a>20 or 10>9

True

In [55]:
a>20 and 10>9

False

In [56]:
10>9 and 20>m

NameError: name 'm' is not defined

In [58]:
10<9 and 20>m

False

In [59]:
10<9

False

In [60]:
not 10<9

True

In [62]:
not True

False

membership :-
    in       if the specified operand is found in the sequence, then the in operator returns true else false
    not in   if the specified operand is not found in the sequence, then the not in operator returns true else false

In [63]:
str="pythonprogramming"
"a" in str

True

In [64]:
"z" in str

False

In [65]:
"z" not in str

True

In [66]:
"a" not in str

False

identity :-
   is       if two variables refer to the same memory location , then the is operator returns true else false
   is not   if two variables refer to the same memory location , then the is operator returns false else true

In [67]:
a=b=10
a==b

True

In [68]:
a is b

True

In [69]:
a is not b

False

In [70]:
a=10
b=20
a is b

False

In [71]:
a is not b

True

In [72]:
id(a)

140710397649584

In [73]:
id(b)

140710397649904

In [74]:
x=y=1.5
x is y

True

In [75]:
z=1.5
w=1.5
z is w

False

in integer -5 to 256 same memory location

In [76]:
d=-4
c=-4
d is c

True

In [77]:
g=257
h=257
g is h

False

In [78]:
g==h

True

# operator precedence

->operators in the same box have the same precedence
->operators in the same box group left to right
->exponentiation, which groups from right to left

In [1]:
10/20*4

2.0

In [2]:
10+10/20*4

12.0

In [4]:
2**-1

0.5

-1 is unary -1 .... -1 is nothing but 1/2  ....

In [5]:
10>8>9

False

In [7]:
10>8 and 8>9

False